@font-face {
  font-family: "SourceHanSansSC";
  src: url("./SourceHanSansSC.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SegMDL2";
  src: url("./SegMDL2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}